@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,40,500,600,700,800,900&display=swap');
:root {
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;

    --primary: #03a9f4;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    background-color: #dcdcdc;
}



/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
}
.logo {
    cursor: pointer;
    color: #dcdcdc;
}
.nav__links {
    list-style: none;
}
.nav__links li {
    display: inline-block;
    padding: 0 20px;
    font-size: 16px;
    color: #dcdcdc;
}
.nav__links li a {
    transition: all 300ms ease;
    color: #dcdcdc;
    text-decoration: none;
}
.nav__links li a:hover {
    color: #03a9f4;
}
.cta .button {
    padding: 9px 25px;
    background-color: rgba(255, 69, 132, 1);
    border: none;
    border-radius: 50px;
    font-size: 16px;
    color: #dcdcdc;
    cursor: pointer;
    transition: all 300ms ease;
    text-decoration: none;
}
.cta .button:hover {
    background-color: rgba(255, 69, 132, 0.8);
}
/* header */



.flex {
    display: flex;
}
.flex.full-center {
    justify-content: center;
    align-items: center;
}



/* login */
.section-login {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
.section-login .imgBox {
    position: relative;
    width: 50%;
    height: 100%;
    background: linear-gradient(225deg, #e91e63, #03a9f4);
}
.section-login .contentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.section-login .contentBox .formBox {
    width: 50%;
}
.form-title {
    color: #607d8b;
    font-weight: 800;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
}
.inputBox {
    margin-bottom: 20px;
}
.inputBox span {
    font-size: 1rem;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    letter-spacing: 1px;
}
.inputBox input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    border-radius: 30px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background-color: transparent;
}
.inputBox input[type="submit"] {
    background-color: #ff4584;
    color: #fff;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
.inputBox input[type="submit"]:hover {
    background-color: #f53677;
}
.inputBox a {
    color: #ff4584;
}
/* login */


/* product cards */
.container {
    position: relative;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 300px));
    grid-gap: 20px;
    padding: 20px;
}
.card {
    width: 100%;
    background-color: #fff;
}
.card .imgBox {
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
}
.card .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 500ms ease-in-out;
    transform-origin: right;
    background: linear-gradient(225deg, #e91e63, #03a9f4);
}
.card:hover .imgBox img {
    transform: scale(1.5);
}
.card .action {
    position: absolute;
    top: 10px;
    right: 10px;
}
.card .action li {
    position: relative;
    list-style: none;
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    cursor: pointer;
    transform: translateX(60px);
    transition: transform 500ms;
}
.card .action li:nth-child(2) {
    transition-delay: 150ms;
}
.card .action li:nth-child(3) {
    transition-delay: 300ms;
}
.card:hover .action li {
    transform: translateX(0px);
}
.card .action li:hover {
    background-color: #ff2020;
    color: #fff;
}
.card .action li span {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%) translateX(-20px);
    white-space: nowrap;
    padding: 4px 6px;
    background-color: #fff;
    color: #333;
    font-weight: 500;
    font-size: 12px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: 500ms;
}
.card .action li:hover span {
    opacity: 1;
    transform: translateY(-50%) translateX(0px);
}
.card .action li span::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -4px;
    width: 8px;
    height: 8px;
    background-color: #fff;
    transform: translateY(-50%) rotate(45deg);
}
.card .content {
    padding: 10px;
}
.card .content .productName .product-title {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin: 5px 0;
}
.priceBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.priceBox .price {
    font-size: 20px;
    color: #ff2020;
    font-weight: 500;
}
.priceBox .fa-star {
    color: #ffd513;
    cursor: pointer;
}
.priceBox .fa-star.grey {
    color: #ccc;
}
/* product cards */



/* orders list */
.orders {
    position: relative;
    width: 1450px;
    margin: 100px auto 0;
    padding: 10px;
}
.orders li {
    display: flex;
    background: linear-gradient(275deg, #e91e63, #03a9f4);
    padding: 10px 20px;
    color: #fff;
    transition: 500ms;
}
.orders li:nth-child(1) {
    background: linear-gradient(215deg, #e91e63, #03a9f4);
}
.orders li .id {
    width: 30px;
    text-align: center;
}
.orders li .name {
    width: 200px;
    text-align: center;
}
.orders li .price {
    width: 200px;
    text-align: center;
}
.orders li .address {
    width: 300px;
    text-align: center;
    white-space: pre-wrap;
}
.orders li .date {
    width: 120px;
    text-align: center;
}
.orders li .description {
    width: 410px;
    text-align: center;
    white-space: pre-wrap;
}
.orders li .buttons {
    width: fit-content;
    min-width: 90px;
    cursor: pointer;
    text-align: center;
    margin-inline: 5px;
}
.orders li .buttons:hover i {
    color: #2b2b2b;
}
.orders li:hover {
    box-shadow: 0 0 0 1px #000000, 0 0 0 3px #ffffff;
}
/* orders list */



/* modals */
#orderCreator,
#orderEditor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);

    width: 400px;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0 5px 15px rgba(0 0 0 / 50%);
    padding: 25px 50px;

    transition: transform 1s ease-in-out;
}
#orderCreator.active,
#orderEditor.active {
    top: 50%;
    transform: translate(-50%, -50%);
}
#orderCreator .fa-times-circle,
#orderEditor .fa-times-circle {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #607d8b;
    cursor: pointer;
}
#orderCreator .fa-times-circle:hover,
#orderEditor .fa-times-circle:hover {
    color: #000;
}
#orderCreator .heading,
#orderEditor .heading {
    width: 100%;
    padding-bottom: 10px;
}
#orderCreator .heading h2,
#orderEditor .heading h2 {
    color: #607d8b;
    font-weight: 800;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
}
/* modals */



.inputBox textarea {
    width: 100%;
    max-width: 100%;
    max-height: 250px;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    border-radius: 3px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background-color: transparent;
}
.link-btn {
    background-color: #ff4584;
    color: #fff;
    border: none;
    font-weight: 500;
    padding: .5rem 2rem;
    cursor: pointer;
    text-decoration: none;
}
.inputBox .link-btn {
    color: #ffffff;
}
.link-btn:hover {
    background-color: #f53677;
}

/* recent orders */
.details
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /*margin-top: 10px;*/
}
.details .recentOrders
{
    position: relative;
    background: var(--white);
    padding: 20px;
    border-radius: 20px;
}
.cardHeader
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2
{
    font-weight: 600;
    color: var(--primary);
}
.btn
{
    position: relative;
    padding: 5px 10px;
    background: var(--primary);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}
.details table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td
{
    font-weight: 600;
}
.details .recentOrders table tr
{
    color: var(--black1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.details .recentOrders table tr:last-child
{
    border-bottom: none;
}
.details .recentOrders table tbody tr:hover
{
    background: var(--primary);
    color: var(--white);
}
.details .recentOrders table tr td
{
    padding: 10px;
}
.details .recentOrders table tr td:last-child
{
    text-align: end;
}
.details .recentOrders table tr td:nth-child(2)
{
    text-align: end;
}
.details .recentOrders table tr td:nth-child(3)
{
    text-align: center;
}
.status
{
    padding: 2px 4px;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.DELIVERED
{
    background: #8de02c;
    cursor: pointer;
}
.status.PENDING
{
    background: #f9ca3f;
    cursor: pointer;
}
.status.RETURN
{
    background: #f00;
    cursor: pointer;
}
.status.INPROGRESS
{
    background: #1795ce;
    cursor: pointer;
}
.status.DELETED
{
    background: #000d13;
    cursor: pointer;
}
.status.DELETED:hover {
    background: #f00;
}
/* recent orders */