<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title th:text="#{activation_headline}"></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<section class="section-login">
    <div class="imgBox"></div>
    <div class="contentBox">
        <div class="formBox">
            <h2 class="form-title" style="font-size: 1.3em; width: 100%;" th:inline="text">
                [[#{to_activate_acc}]]
                <br>
                <blockquote style="color: #935151; font-size: 0.8em;" th:text="#{enter_password}"></blockquote>
            </h2>
            <div class="inputBox">
                <span th:text="#{email}"></span>
                <input type="email" id="email" name="email" th:value="${User.email}" disabled>
            </div>
            <div class="inputBox">
                <span th:text="#{first_name}"></span>
                <input type="text" id="firstName" name="firstName" th:value="${User.firstName}" disabled>
            </div>
            <div class="inputBox">
                <span th:text="#{second_name}"></span>
                <input type="text" id="secondName" name="secondName" th:value="${User.secondName}" disabled>
            </div>
            <div class="inputBox">
                <span th:text="#{surname}"></span>
                <input type="text" id="surname" name="surname" th:value="${User.surname}" disabled>
            </div>
            <div class="inputBox">
                <span th:text="#{address}"></span>
                <input type="text" id="address" name="address" th:value="${User.address}" disabled>
            </div>

            <div class="inputBox">
                <span th:text="#{password}"></span>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="inputBox">
                <input type="submit" th:value="#{enter}" onclick="activateAccount()" required>
            </div>
        </div>
    </div>
    <div class="imgBox"></div>
</section>
<script th:inline="javascript">
    function activateAccount() {
        /*<![CDATA[*/
        var userId = [[${User.id}]];
        var activationCode = [[${User.activationCode}]];
        /*]]>*/
        let body = {
            "id":userId,
            "email":$('#email').val(),
            "password":$('#password').val(),
            "firstName":$('#firstName').val(),
            "secondName":$('#secondName').val(),
            "surname":$('#surname').val(),
            "address":$('#address').val()
        };
        body = JSON.stringify(body);
        $.ajax({
            type: 'POST',
            url: 'http://localhost:8080/user/activate',
            dataType: 'json',
            contentType: 'application/json',
            data: body,
            success: function (data) {
                console.log("SUCCESSFULLY")
                window.location.href = data.redirect;
            },
            error: function (data) {
                console.log(body)
                console.log("ERROR")
            }
        })
    }
</script>
</body>
</html>