<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Product Creator</title>
</head>
<body>
<th:block th:insert="/blocks/language :: choicer"></th:block>
<th:block th:insert="/blocks/header :: header"></th:block>
<div class="container flex full-center" style="width: 100%" id="refresh">
    <section class="section-login" style="justify-content: center">
        <div class="contentBox">
            <div class="formBox" style="width: auto">
                <h2 class="form-title" th:text="#{add_product_information}"></h2>
                <div class="inputBox">
                    <span th:text="#{name}">Name</span>
                    <input type="text" name="name" id="name" required>
                </div>
                <div class="inputBox">
                    <span th:text="#{count_in_stock}"></span>
                    <input type="number" min="0" step="1" name="count" id="count" required>
                </div>
                <div class="inputBox">
                    <span th:text="#{price}"></span>
                    <input type="number" min="1" step="1" name="price" id="price" required>
                </div>
                <div class="inputBox">
                    <input type="button" th:value="#{add}" onclick="addProduct()" required>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    function addProduct() {
        let jsonData = {
            'name': $('#name').val(),
            'count': $('#count').val(),
            'price': $('#price').val()
        }
        jsonData = JSON.stringify(jsonData);
        $.ajax({
            type: 'POST',
            url: "/admin/product",
            contentType: 'application/json',
            dataType: 'json',
            data: jsonData,
            success: function () {
                alert("SUCCESSFULLY")
            }
        })
    }
</script>
</body>
</html>