<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://kit.fontawesome.com/979f4e20dd.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Products</title>
</head>
<script th:inline="javascript">
    function buy() {
        /*<![CDATA[*/
        var login = [[${User.email}]];
        var userId = [[${User.id}]];
        /*]]>*/
        let productId = $("#orderCreator").attr("data-product-id");
        let address = $("#address").val();
        let description = $("#description").val();
        let count = $("#count").val();
        let date = new Date().toISOString().slice(0, 10);
        let body = {
            "id":0,
            "address":address,
            "description":description,
            "count":count,
            "status":'INPROGRESS',
            "date":0,
            "user":{
                "id":userId,
                "login":login
            },
            "products": [
                {"id":productId}
            ]
        };
        body = JSON.stringify(body);

        $.ajax({
            type: 'POST',
            url: 'http://localhost:8080/order',
            dataType: 'json',
            contentType: 'application/json',
            data: body,
            success: function (data) {
                console.log("SUCCESSFULLY")
            },
            error: function (data) {
                alert("ERROR")
            }
        })
        openOrder()
    }
</script>
<body>
<th:block th:insert="/blocks/language :: choicer"></th:block>
<th:block th:insert="/blocks/header :: header"></th:block>
<div id="refresh">
    <div class="container flex" style="width: 100%">
        <div class="card" th:each="product : ${products}">
            <div class="imgBox">
                <img src="">
                <ul class="action">
                    <li th:data-product="${product.id}" th:data-count="${product.count}" onclick="createOrder(this.getAttribute('data-product'), this.getAttribute('data-count'))">
                        <i class="fas fa-cart-arrow-down"></i>
                        <span th:text="#{to_order}"></span>
                    </li>
                    <li>
                        <i class="fas fa-heart"></i>
                        <span th:text="#{add_to_Wishlist}"></span>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')" th:data-product="${product.id}" onclick="deleteProduct(this.getAttribute('data-product'))">
                        <i class="fas fa-trash"></i>
                        <span th:text="#{delete}"></span>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="productName">
                    <h3 class="product-title" th:text="${product.name}"></h3>
                </div>
                <div class="priceBox">
                    <h2 class="price" th:text="'$'+${product.price}"></h2>
                    <div class="rating">
                        <i class="fas fa-star" onclick="rare(this)"></i>
                        <i class="fas fa-star" onclick="rare(this)"></i>
                        <i class="fas fa-star grey" onclick="rare(this)"></i>
                        <i class="fas fa-star grey" onclick="rare(this)"></i>
                        <i class="fas fa-star grey" onclick="rare(this)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="/blocks/modals :: orderCreator"></th:block>
<script>
    function rare(element) {
        $(element).toggleClass('grey');
    }
    function createOrder(id, count) {
        console.log(id)
        console.log(count)
        $("#orderCreator").attr('data-product-id', id);
        $("#count").attr('max', count);
        openOrder();
    }
    function openOrder() {
        $("#orderCreator").toggleClass('active');
    }
    function deleteProduct(id) {
        $.ajax({
            type: "DELETE",
            url: "http://localhost:8080/admin/product/"+id,
            success: function(data) {
                console.log("SUCCESSFULLY DELETED")
                $('#refresh').load("/ #refresh");
            }
        })
    }
</script>

</body>
</html>