<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://kit.fontawesome.com/979f4e20dd.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Products</title>
</head>
<script th:inline="javascript">
    function buy() {
        /*<![CDATA[*/
            var login = [[${User.login}]];
            var userId = [[${User.id}]];
        /*]]>*/
        let productId = $("#orderCreator").attr("data-product-id");
        let address = $("#address").val();
        let description = $("#description").val();
        let count = $("#count").val();
        let date = new Date().toISOString().slice(0, 10);

        let body = {
                    "address":address,
                    "description":description,
                    "count":count,
                    "date":date,
                    "user":{
                        "id":userId,
                        "login":login
                    },
                    "products": [
                        {"id":productId}
                    ]
                };
        let jsonData = JSON.stringify(body);

        $.ajax({
            type: 'POST',
            url: '/order',
            dataType: 'json',
            contentType: 'application/json',
            data: jsonData,
            success: function (data) {
                console.log("SUCCESS " + data)
            },
            error: function (data) {
                console.log("ERROR " + data)
            }
        })
    }
</script>
<body class="flex full-center">
<span></span>
<div class="container">

    <div class="card" th:each="product : ${products}">
        <div class="imgBox">
            <img src="">
            <ul class="action">
                <li th:data-product="${product.id}" th:data-count="${product.count}" onclick="createOrder(this.getAttribute('data-product'), this.getAttribute('data-count'))"> <!-- th:data-product="${product.id}" onclick="buy(this.getAttribute('data-product'))" -->
                    <i class="fas fa-cart-arrow-down"></i>
                    <span>To Order</span>
                </li>
                <li>
                    <i class="fas fa-heart"></i>
                    <span>Add to Wishlist</span>
                </li>
            </ul>
        </div>
        <div class="content">
            <div class="productName">
                <h3 class="product-title" th:text="${product.name}"></h3>
            </div>
            <div class="priceBox">
                <h2 class="price" th:text="'$'+${product.price}"></h2>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star grey"></i>
                    <i class="fas fa-star grey"></i>
                    <i class="fas fa-star grey"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="/blocks/modals :: orderCreator"></th:block>
<script>
    function createOrder(id, count) {
        createOrder();
        $("#orderCreator").attr('data-product-id', id);
        $("#count").attr('max', count);
    }
    function createOrder() {
        $("#orderCreator").toggleClass('active');
    }
</script>

</body>
</html>