<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Authorize page</title>
</head>
<body>
    <section class="section-login">
        <div class="imgBox"></div>
        <div class="contentBox">
            <div class="formBox">
                <h2 class="form-title">Login</h2>
                <form th:action="@{/login}" method="post">
                    <div class="inputBox">
                        <span>E-Mail</span>
                        <input type="text" name="username" required>
                    </div>
                    <div class="inputBox">
                        <span>Password</span>
                        <input type="password" name="password" required>
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="Sign in" required>
                    </div>
                    <div class="inputBox">
                        <a href="#">Still don`t have account yet? </a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>