<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title th:text="#{login_headline}"></title>
</head>
<body>
<section class="section-login">
    <div class="imgBox"></div>
    <div class="contentBox">
        <div class="formBox">
            <div th:unless="${param.error} == null">
                <h2 class="form-title" style="color: red; font-size: 1.3em;" th:text="#{login_def_error}">
                    Error
                </h2>
                <h2 class="form-title" style="color: red; font-size: 1.3em; width: 100%;" th:if="${param.error[0]} == 'activation'" th:inline="text">
                    [[#{activate_account}]] <br th:text="#{activate_account_sent_message}">
                    <blockquote style="color: #935151; font-size: 0.8em;" th:text="#{activate_account_contains_activation}+','"></blockquote>
                    [[#{activate_account_to_email}]]</h2>
            </div>
            <h2 class="form-title" th:text="#{login_headline}">Login</h2>
            <form th:action="@{/login}" method="post">
                <div class="inputBox">
                    <span th:text="#{email}"></span>
                    <input type="email" name="username" required>
                </div>
                <div class="inputBox">
                    <span th:text="#{password}"></span>
                    <input type="password" name="password" required>
                </div>
                <div class="inputBox">
                    <input type="submit" th:value="#{sign_in}" required>
                </div>
                <div class="inputBox">
                    <a href="/register" th:text="#{dont_have_account_ask}"></a>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>