<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://kit.fontawesome.com/979f4e20dd.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Your order list</title>
</head>
<body>
<th:block th:insert="/blocks/header :: header"></th:block>
<div class="flex full-center">
    <ul class="orders" id="orders">
        <li>
            <span class="name">Product name</span>
            <span class="price">Price per one</span>
            <span class="price">Count</span>
            <span class="address">Address</span>
            <span class="date">Register Date</span>
            <span class="description">Description</span>
            <span class="buttons">Edit</span>
            <span class="buttons">Delete</span>
        </li>
        <li th:each="order : ${orders}">
            <th:block th:each="product : ${order.products}">
                <span class="name" th:text="${product.name}"></span>
                <span class="price" th:text="'$' + ${product.price}"></span>
                <span class="price" th:text="${order.count}"></span>
                <span class="address" th:text="${order.address}"></span>
                <span class="date" th:text="${order.date}"></span>
                <span class="description" th:text="${order.description}"></span>
                <span class="buttons" th:data-order="${order.id}" th:data-product="${product.id}" th:data-count="${product.count}"
                      onclick="editOrder(this.getAttribute('data-order'), this.getAttribute('data-product'), this.getAttribute('data-count'))"><i class="fas fa-edit"></i></span>
                <span class="buttons" th:data-id="${order.id}" onclick="deleteOrder(this.getAttribute('data-id'))"><i class="fas fa-trash"></i></span>
            </th:block>
        </li>
    </ul>
</div>
<th:block id="load" th:insert="/blocks/modals :: orderEditor"></th:block>
<script>
    function deleteOrder(id) {
        $.ajax({
            type: 'DELETE',
            url: 'http://localhost:8080/order/'+id,
            success: function (data) {
                console.log("SUCCESS " + data)
                $("#orders").load("/order"/id);
            }
        })
    }
    function loadModal(data) {
        $("#address").val(data.address);
        $("#count").val(data.count);
        $("#description").val(data.description);
    }
    function editOrder(orderId, productId, count) {
        $.get("/order/"+orderId, function(data) {
            loadModal(data);
        });

        $("#orderEditor").attr('data-order-id', orderId);
        $("#orderEditor").attr('data-product-id', productId);
        $("#count").attr('max', count);

        openOrder();
    }
    function openOrder() {
        $("#orderEditor").toggleClass('active');
    }
</script>
<script th:inline="javascript">
    function edit() {
        /*<![CDATA[*/
        var login = [[${User.login}]];
        var userId = [[${User.id}]];
        /*]]>*/
        let orderId = $("#orderCreator").attr("data-order-id");
        let productId = $("#orderCreator").attr("data-product-id");
        let address = $("#address").val();
        let description = $("#description").val();
        let count = $("#count").val();
        let date = new Date().toISOString().slice(0, 10);

        let body = {
            "id":orderId,
            "address":address,
            "description":description,
            "count":count,
            "date":date,
            "user":{
                "id":userId,
                "login":login
            },
            "products": [
                {"id":productId}
            ]
        };
        let jsonData = JSON.stringify(body);

        $.ajax({
            type: 'POST',
            url: '/order',
            dataType: 'json',
            contentType: 'application/json',
            data: jsonData,
            success: function (data) {
                console.log("SUCCESS " + data)
            },
            error: function (data) {
                console.log("ERROR " + data)
            }
        })

        openOrder();
    }
</script>
</body>
</html>