<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title th:text="#{register_headline}"></title>
</head>
<body>
<section class="section-login">
    <div class="contentBox">
        <div class="formBox">
            <h2 class="form-title" th:text="#{register_headline}"></h2>
                <div class="inputBox">
                    <span th:text="#{email}"></span>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="inputBox">
                    <span th:text="#{first_name}"></span>
                    <input type="text" id="firstName" name="firstName" required>
                </div>
                <div class="inputBox">
                    <span th:text="#{second_name}"></span>
                    <input type="text" id="secondName" name="secondName" required>
                </div>
                <div class="inputBox">
                    <span th:text="#{surname}"></span>
                    <input type="text" id="surname" name="surname" required>
                </div>
                <div class="inputBox">
                    <span th:text="#{address}"></span>
                    <input type="text" id="address" name="address" required>
                </div>
                <div class="inputBox">
                    <input type="submit" th:value="#{sign_up}" onclick="register()" required>
                </div>
                <div class="inputBox">
                    <a href="/login" th:text="#{already_have_account_ask}"></a>
                </div>
        </div>
    </div>
    <div class="imgBox" style="background: linear-gradient(-225deg, #e91e63, #03a9f4)"></div>
</section>
<script>
    function register() {
        let body = {
            "email":$('#email').val(),
            "password":$('#password').val(),
            "firstName":$('#firstName').val(),
            "secondName":$('#secondName').val(),
            "surname":$('#surname').val(),
            "address":$('#address').val()
        };
        body = JSON.stringify(body);
        $.ajax({
            type: "POST",
            url: "http://localhost:8080/user",
            contentType: "application/json",
            dataType: "json",
            data: body,
            success: function (data) {
                console.log("SUCCESS")
                window.location.href = data.redirect;
            }
        })
    }
</script>
</body>
</html>