<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Authorize page</title>
</head>
<body>
    <section class="section-login">
        <div class="contentBox">
            <div class="formBox">
                <h2 class="form-title">Register</h2>
                <form th:action="@{/register}" method="post" th:object="${User}">
                    <div class="inputBox">
                        <span>E-Mail</span>
                        <input type="email" name="login" required>
                    </div>
                    <div class="inputBox">
                        <span>Password</span>
                        <input type="password" name="password" required>
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="Sign up" required>
                    </div>
                    <div class="inputBox">
                        <a href="/login">Already have account?</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="imgBox" style="background: linear-gradient(-225deg, #e91e63, #03a9f4)"></div>
    </section>
</body>
</html>