<header th:fragment="header">
    <h2 class="logo">BRAND NAME</h2>
    <nav class="nav__links">
        <ul>
            <li><a href="/?size=15">Products</a></li>
            <li>
                <a sec:authorize="hasRole('USER')" href="/my-orders">My Orders</a>
                <a sec:authorize="hasRole('ADMIN')" href="/all-orders?size=15">Orders/Deleted Products</a>
            </li>
            <li sec:authorize="hasRole('ADMIN')"><a href="/add-product">Add Product</a></li>
        </ul>
    </nav>
    <span class="cta"><a class="button" href="/logout">Logout</a></span>
</header>